:root {
    --primary-text-color: rgb(0, 0, 0);
    --text-color: #757575;
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --text-footer: #FFFFFF;
    --bg-color: #2F303A;
    --bg-button: #188CE8;
    --team-bg: #F5F4FA;
    --footer-team-text: rgba(255, 255, 255, 0.6) ;
    --text-portfolio-team: rgba(117, 117, 117, 1) ;
    --button-portfolio: #F5F4FA ;
    --fill-team-icons: #AFB1B8;
    --fill-team-icons-hover-focus: #FFFFFF ;


}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font: inherit;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

}

h1,
h2,
h3,
h4,
h5, 
h6 {
    margin: 0;
}

p {
    margin: 0;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-no-padding{
    padding-top: 0px;
    padding-bottom: 0px;
}

/*body*/

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: 'Roboto' , sans-serif;
}

/*logo*/

.logo {
    color: var(--primary-text-color);
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    margin-right: 93px;
        padding-top: 24px;
            padding-bottom: 24px;
    
    
}
.accent {
    color: var(--accent-color);
}


.header{
    border: 1px solid #ECECEC;
}   
.header-container{
    display: flex;

    
}

.section-hero{
    padding-top: 200px;
    padding-bottom: 200px;
}


/*.site_nav + text*/

.site_nav a {
    display: block;
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    line-height: 1.14;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;

}

.site_nav{
    display: flex;
}
.site_nav :hover,
.site_nav :focus{
    color: var(--accent-color);

}

.site_nav .link.current {
    color: var(--accent-color);
    
}
.navi:not(:first-child){
    margin-left: 50px;
    
}
.link-nav{
        padding-top: 32px;
        padding-bottom: 32px;
        
}



/*auth_nav*/
.icon-head{
    fill: var(--fill-team-icons);
    margin-right: 10px;
}


.auth_nav{
    display: flex;
    margin-left: auto;

}
.link-nav_auth_nav {
    display: flex;
    color: var(--text-color);
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    text-decoration: none;
    font-weight: 500;
    align-items: center;

}

.auth_nav-title{
    margin-left: 50px;

}

.link-nav_auth_nav:hover,
.link-nav_auth_nav:focus {
    color: var(--accent-color);
}

.link-nav_auth_nav:hover,
.link-nav_auth_nav:focus {
    fill: var(--accent-color);
}

.icon-head{
    display: block;
    fill: currentColor;
}


/*button*/

.bg {
    color: var(--primary-bg-color);
    background-color: var(--bg-color);
    letter-spacing: 0.06em;
    text-align: center;
    
    background-image: url(../images/hero-bg.jpg);
    
}

.bg-img-hero{
 width: 1600px;
 height: 600px;
 margin-left: auto;
 margin-right: auto;
 background-repeat: no-repeat;

background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4), url(../images/hero-bg.jpg));


}
.hero{
    padding-top: 0px;
    padding-bottom: 0px;
    
}

.text-under-main-button {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.button-primary {
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    letter-spacing: 0.06em;
    line-height: 30px;
    font-weight: 700;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px 10px 32px;
    border-radius: 4px;
    
}


.button-primary:hover,
.button-primary:focus{
    color: var(--primary-bg-color);
    background-color: var(--bg-button);

}

/*СЕКЦІЇ*/

.plus{
    display: flex;


}

.plus-li:not(:last-child){
    margin-right: 30px;
    
}
.plus-li{

}

.antenna{

}
.antenna::before{
display: block;
  content: "";
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--team-bg);
  background-image: url(../images/decorations/antenna.svg);
  background-repeat: no-repeat;
  background-position:center

}

.clock::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--team-bg);
    background-image: url(../images/decorations/clock.svg);
    background-repeat: no-repeat;
    background-position: center
    
}

.diagram::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--team-bg);
    background-image: url(../images/decorations/diagram.svg);
    background-repeat: no-repeat;
    background-position: center
}

.astronaut::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--team-bg);
    background-image: url(../images/decorations/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center
}

.section-works{
    padding-top: 0px;
}
.section-title {
    color: var(--primary-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
    margin-bottom: 10px;

}



.section-text {
    color: var(--text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
}

.section-title-main {
    font-size: 36px;
    letter-spacing: 0.06em;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;


}

.img-box{
    display: flex;
}

.img-box-li:not(:last-child){
    margin-right: 30px;
}

/*Поправки маркеровок*/

ul {
    list-style: none;
}

.hidden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

/**
  |============================
  | Команда
  |============================
*/

.section-team{
    background-color: var(--team-bg);
}
.team-box{
    display: flex;
    
}
.team-li:not(:last-child) {
    margin-right: 30px;
}

.team-text-div {
    padding-top: 30px;
    padding-bottom: 0px;
}

.section-title-team {
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: 500;
    margin-bottom: 10px;
}

.section-text-team {
    font-size: 16px;
    color: var(--text-portfolio-team);
    letter-spacing: 0.03em;
    letter-spacing: 0.03em;

}


.section-title-main-team {
    font-size: 36px;
    letter-spacing: 0.06em;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;

}

.li-icons-team:not(:last-child){
    margin-right: 10px;
}
.team-li{
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
   
    
}

.item-box {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 30px;
}
.link-icon-team{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--fill-team-icons);
}
.link-icon-team:hover,
.link-icon-team:focus{
   background-color: var(--accent-color);
   color: var(--team-bg);

}


.icon:hover,
.icon:focus {
    fill: var(--team-bg);
}
    
.icon {
    fill: currentColor

}

.link-icon-team:not(:last-child) {
    margin-right: 10px;
}


/**
  |============================
  | Постійні клієнти
  |============================
*/



.partners{
    display: flex;
    justify-content: center;
    width: 1170px;
        gap: 30px;
}


.li-partners{
    width: 170px;
    height: 92px;
    
}



.a-partners{
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--fill-team-icons);
    border: 1px solid var(--fill-team-icons);
    border-radius: 4px;
    align-items: center;
    justify-content: center
}

.partners-svg{
    fill: currentColor;
    
}

.a-partners:hover,
.a-partners:focus{
    color: var(--accent-color);
    border-color: var(--accent-color);
}


/*Футер*/

.bg-footer{
    color: var(--primary-bg-color);
    background-color: var(--bg-color);
    padding-top: 0px;
    padding-bottom: 0px;
}

.logo-footer {
    color: var(--text-footer);
    font-family: 'Raleway';
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: none;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    
}

.footer-adress a{
    color: var(--text-footer);
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    
}

.footer-adress{
  margin-bottom: 9px;
}

.footer-adress-contact a{
    color: var(--footer-team-text);
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.71;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
}

.footer-adress-contact-mail a{
    color: var(--footer-team-text);
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.71;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
}

.footer-adress-contact-mail{
    margin-bottom: 9px;
}


.site_nav_footer{
margin-top: 20px;
}

.footer-div{
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}

.site_nav_footer :hover,
.site_nav_footer :focus {
    color: var(--accent-color);

}

.div-footer-text{
    display: block;
    margin-right: 70px;
}
.div-footer-icons{
    display: block;
    padding-top: 12px;
}

.link-icon-team-footer {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--primary-bg-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.link-icon-team-footer:hover,
.link-icon-team-footer:focus {
    background-color: var(--accent-color);
    color: var(--team-bg);

}
/*Портфолио*/

.section-button {
    text-align: center;
}

.pointer{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.62;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    
}

.section-button{
    display: flex;
    justify-content: center;
    min-width: 575px;
    margin-bottom: 34px;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
}

.section-button-text{
    
    background-color: var(--button-portfolio);
    border-radius: 4px;
    margin-left: 8px
}



.section-button-text :hover,
.section-button-text :focus{
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.portfolio-cont{
    
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

}


.decoration-portfolio{
    display: block;
}
.decoration-portfolio:hover,
.decoration-portfolio:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.section-title-portfolio {
    font-size: 18px;
    color: var(--primary-text-color);
    letter-spacing: 0.06em;
    line-height: 2;
    margin-bottom: 4px;
}
.section-text-portfolio {
    font-size: 16px;
    color: var(--text-portfolio-team);
    letter-spacing: 0.03em;
    line-height: 1.87;
    
}

.decoration-portfolio{
    text-decoration: none;  
}

.text-portfolio-box{
    padding: 20px 24px 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}


/*цвет основного текста #212121 */

/*вторичный цвет текста #757575 */

/*цвет перед кнопкой #FFFFFF */

/*вторичный цвет фона #F5F4FA */

/*акцент #2196F3 */

/*почта и номер в футере rgba(255, 255, 255, 0.6)
*/
/*Текст в портфолио под заголовком  rgba(117, 117, 117, 1) */

/*Цвет фона заголовка на главном экране #2F303A  */

/*цыет фона в секции команда  #F5F4FA */

/*Кнопка в bg   #188CE8 */